{% if PIWIK_TRACKER_ID %}
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.xxxxx.com/" : "http://stats.xxxxx.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ PIWIK_TRACKER_ID }});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.xxxxx.com/piwik.php?idsite={{ PIWIK_TRACKER_ID }}" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
{% endif %}
